# only on dev
FLASK_DEBUG=true

# set something secure, using `uuidgen` for instance
FLASK_SECRET_KEY="......."

# values from the recurse oauth app
RC_OAUTH_APP_ID=""
RC_OAUTH_APP_SECRET=""
# greg uses https://disco-dev.recurse.com/oauth_redirect for RC_OAUTH_REDIRECT_URI
# if you want to run the community management dev server on your own machine,
# you will have to create a dev oauth app for yourself and a recurse domain
RC_OAUTH_REDIRECT_URI="..."

PROXMOX_PASSWORD=""
