<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard | Recurse Center Cloud Computing</title>
    <script type="module" src="https://cdn.jsdelivr.net/npm/zero-md@3?register"></script>
    <link rel="stylesheet" href="/static/site.css">
</head>

<script>
    const copy = (text, button) => {
        navigator.clipboard.writeText(text).then(() => {
            button.innerText = 'copied!';
            setTimeout(() => {
                button.innerText = 'copy';
            }, 2000);
        }, (err) => {
            console.error('Failed to copy: ', err);
        });
    };
</script>


<body>
<zero-md>
<script type="text/markdown">
<h1>
  Recurse Center Cloud Computing
</h1>

### Welcome, {{ user.first_name }}!!

---

## ALL OF YOUR MACHINES

{% if all_containers|length == 0 %}
You don't have any machines yet. Click the button below to create one!!
{% endif %}

<div style="font-size:1.3rem">
<ul>
{% for container in all_containers %}
<li>
<form method='post' action='/change_container_status'>
<input type="hidden" name="container_id" value="{{ container.vmid }}">
Machine #{{ container.vmid }} - {% if container.status == 'running' %}✅{% else %}🚫{% endif %} <b>{{ container.status }}</b> {% if container.status == 'running' %}<button type="submit" name="action" value="stop">stop</button>{% elif container.status == 'stopped' %}<button name="action" type="submit" value="start">start</button> <button name="action" type="submit" value="delete" onclick="
    return confirm('Are you sure you want to delete this machine? This action cannot be undone!');"
">delete</button>{% endif %}
</form>
{% if container.tmate_connection_string %}
- `ssh {{ container.tmate_connection_string }}` <a href="#" onclick="copy('ssh {{ container.tmate_connection_string }}', this)">copy</a>
{% endif %}
{% if container.ip_addr and not container.tmate_connection_string %}
- (at the hub only) `ssh root@{{ container.ip_addr }}` <a href="#" onclick="copy('ssh root@{{ container.ip_addr }}', this)">copy</a>
{% endif %}
</li>
{% endfor %}
</ul>
</div>

<hr/>

## CREATE A NEW UBUNTU MACHINE

<form method='post' action='create_new_container'>
<center><button type="input" style="color:blue;margin-top:15px;margin-bottom:15px;font-size:30px;">CREATE</button></center>
</form>

---

<div style="display: flex;justify-content: space-between;">
    <div>
      <div>Done? <a href='/logout'>Log out</a></div>
    </div>
    <div style="text-align: right;">
        <div>Questions, comments?<br/>Contact Greg Sadetsky (F2'23) or<br/>Ian Fisher (S1'24) or<br/>Clint J Edwards (S1'24) on Zulip!</div>
    </div>
</div>

</script>        
</zero-md>
</body>

</html>