<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Recurse Center Cloud Computing</title>
    <script type="module" src="https://cdn.jsdelivr.net/npm/zero-md@3?register"></script>
    <link rel="stylesheet" href="/static/site.css">
</head>

<body>
<zero-md>
<script type="text/markdown">
<h1>
  Recurse Center Cloud Computing
</h1>

## What is it??

A way for all recursers to get virtual servers!! for free!!

## Ok let's go!!

<div style="box-shadow: 0px 0px 8px 8px #23a050 inset; outline: none; padding: 28px; text-align: center; font-size: 1.3rem; margin-top:40px; margin-bottom:40px;">Are you a Recurser? <a href="/dashboard"><b>Log in!</b></a></div>

</script>
</zero-md>
</body>

</html>